*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    color: #ffff;
    background-color: #000;
    font-size: 12px;
    position: sticky;
    top: 0px;
    height: 50px;
}
.title p{
float: left;
margin: 15px 20px;
}

.nav-items{
float: right;
margin: 15px 20px;

}
html{
    scroll-behavior: smooth;
}

.nav-items a{
    text-decoration: none;
    color: #fff;
     float: right;
     padding: 0px 10px;
}

.container{
    background-color: #ddd;
    padding: 10px 30px;
}

.books-table, .registeration-form {
    background-color: #fff;
    margin: 30px 20%;
    padding: 30px;
    border-radius: 5px; 

}
.books-table:hover{
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29 px;
    cursor: pointer;
}
.books-table h1,.registeration-form h1 {
    padding: 10px 0px;
}

.books-table table{
    width: 100%;
}

.books-table th.col{
     text-align:left ;
}

.books-table table ,tr,td,th{
    border: 1px solid #ddd;
    border-collapse: collapse;
    padding: 5px;
}
.ns-table{
    margin: 12px 0px;
}
.registeration-form .form-control{
    margin: 5px 0px;
}
.form-control label{
    font-size: 12px;
}
.form-control input:focus{
    width: 100%;

  
}

.submit-btn{
        background-color: #000;
        color: #fff;
        height: 30px!important;
}

.submit-btn :hover{
    background-color: white;
    color: black;
}

.top-btn{
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 0px;

}
.top-btn img{
    width: 15px;
    margin: 9px;
    cursor: pointer;
    border: 1px solid black;
}
s